.ctaSection {
  background-color: #777; /* Gris oscuro */
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.topText {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  font-weight: 400;
  opacity: 0.8;
}

.mainText {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  max-width: 900px;
  margin: 0 auto 14px auto;
}

.divider {
  width: 50px;
  height: 2px;
  background-color: #cbb699; /* Color dorado similar */
  margin: 0 auto 22px auto;
  border-radius: 2px;
}

.bottomText {
  font-size: 18px;
  color: #ddd;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #b38d32;
  color: white;
  border: none;
  padding: 12px 32px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #8a711c;
}
