.cardWrapper {
  width: 280px;
  height: 250px;
  perspective: 1000px;
  margin: 20px 0; /* ajusta horizontal con gap del contenedor */
  user-select: none;
}

.highlight {
  background-color: #cbb699;
  color: white;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  background: white;
  cursor: pointer;
}

.cardWrapper:hover .card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front {
  color: #4b4b4b;
}

.back {
  background-color: #f5f3f0;
  color: #4b4b4b;
  transform: rotateY(180deg);
}

.icon {
  margin-bottom: 12px;
  font-size: 24px;
  color: #b38d32;
}

.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
